
! URxvt*rgba: none
! URxvt*hintstyle: hintnone

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false
URxvt.geometry: 120x40
URxvt.depth: 32
! URxvt.background:  [90]#000000
URxvt.background:  #000000

URxvt.letterSpace: 0
URxvt.lineSpace: 0

URxvt.font: xft:More Perfect DOS VGA:style=Regular:size=12, \
            xft:Monaspace Neon:style=ExtraBold:size=12, \
			xft:CaskaydiaCove Nerd Font:style=Regular, \
			xft:PowerlineSymbols:style=Bold

URxvt.italicFont: xft:More Perfect DOS VGA:style=Regular:size=12, \
                  xft:Monaspace Radon:style=ExtraBold:size=12, \
					xft:CaskaydiaCove Nerd Font:style=Italic, \
					xft:PowerlineSymbols:style=Bold

URxvt.boldFont: xft:More Perfect DOS VGA:style=Bold:size=12, \
                xft:Monaspace Krypton:style=ExtraBold:size=12, \
				xft:CaskaydiaCove Nerd Font:style=Bold, \
				xft:PowerlineSymbols:style=Bold

URxvt.boldItalicFont: xft:More Perfect DOS VGA:style=Bold:size=12, \
                      xft:Monaspace Krypton:style=ExtraBold Italic:size=12, \
					  xft:CaskaydiaCove Nerd Font:style=Bold Italic, \
					  xft:PowerlineSymbols:style=Bold

! URxvt.font: xft:Monaspace Neon:style=ExtraBold:size=11, \
! 			xft:CaskaydiaCove Nerd Font:style=Regular, \
! 			xft:PowerlineSymbols:style=Bold
! 
! URxvt.italicFont: xft:Monaspace Radon:style=ExtraBold:size=11, \
! 					xft:CaskaydiaCove Nerd Font:style=Italic, \
! 					xft:PowerlineSymbols:style=Bold
! 
! URxvt.boldFont: xft:Monaspace Krypton:style=ExtraBold:size=11, \
! 				xft:CaskaydiaCove Nerd Font:style=Bold, \
! 				xft:PowerlineSymbols:style=Bold
! 
! URxvt.boldItalicFont: xft:Monaspace Krypton:style=ExtraBold Italic:size=11, \
! 					  xft:CaskaydiaCove Nerd Font:style=Bold Italic, \
! 					  xft:PowerlineSymbols:style=Bold

*antialias: false
*autohint:  false

URxvt*dpi: 140
URxvt*antialias: false
URxvt*hinting: true
URxvt*rgba: rgb
URxvt*autohint: false
URxvt*hintstyle: hintfull
URxvt*lcdfilter: lcddefault

