Xft.dpi: 140

*antialias: false
*autohint:  false

URxvt*dpi: 140
URxvt*hinting: true
URxvt*rgba: rgb
URxvt*autohint: false
URxvt*hintstyle: hintfull
URxvt*lcdfilter: lcddefault

URxvt*scrollBar: false
URxvt*scrollBar_right: false

URxvt*transparent: false
URxvt*geometry:120x40
URxvt*depth: 32
URxvt*background: [80]#000000
! URxvt*background: #000000

URxvt*letterSpace: -1
URxvt*lineSpace: 0

URxvt*font: xft:Monaspace Neon:style=Medium:size=8, \
			xft:CaskaydiaCove Nerd Font, \
			xft:さざなみ明朝:style=Mincho-Regular,Regular, \
			xft:Font Awesome 6 Free:style=Regular, \
			xft:font-awesome-extension:style=Regular, \
			xft:PowerlineSymbols:style=Medium

URxvt*italicFont: xft:Monaspace Radon:style=Medium:size=8, \
			xft:CaskaydiaCove Nerd Font:style=Italic, \
			xft:さざなみ明朝:style=Mincho-Regular,Regular, \
			xft:Font Awesome 6 Free:style=Regular, \
			xft:font-awesome-extension:style=Regular, \
			xft:PowerlineSymbols:style=Medium

URxvt*boldFont: xft:Monaspace Krypton:style=ExtraBold:size=8, \
			xft:CaskaydiaCove Nerd Font:style=Bold, \
			xft:さざなみ明朝:style=Gothic-Regular,Regular, \
			xft:Font Awesome 6 Free:style=Regular, \
			xft:font-awesome-extension:style=Regular, \
			xft:PowerlineSymbols:style=Medium

URxvt*boldItalicFont: xft:Monaspace Krypton:style=ExtraBold Italic:size=8, \
			xft:CaskaydiaCove Nerd Font:style=Bold Italic, \
			xft:さざなみ明朝:style=Gothic-Regular,Regular, \
			xft:Font Awesome 6 Free:style=Regular, \
			xft:font-awesome-extension:style=Regular, \
			xft:PowerlineSymbols:style=Medium


